<template>
    <div>
        <!-- main nav -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <router-link class="navbar-brand" :to="{name: 'root'}"><img alt="laudis logo" src="/images/laudis.png" /></router-link>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name: 'root'}">Home<span class="sr-only">(current)</span></router-link>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Rekentools
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <router-link v-for="calculator in calculators" class="dropdown-item" :key="calculator.name" :to="{
            name: calculator.name}" v-html="calculator.display">
                            </router-link>
                        </div>
                    </li>
                    <template v-if="loggedIn">
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{name: 'update-password'}">Wachtwoord wijzigen</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{name: 'root'}" v-on:click.native="logout">Uitloggen</router-link>
                        </li>
                    </template>
                    <template v-else>
                        <li class="nav-item">
                            <router-link class="nav-link" :to="{name: 'login'}">Inloggen</router-link>
                        </li>
                    </template>
                </ul>
                <locale-changer></locale-changer>
            </div>
        </nav>
        <div class="container-fluid">
            <router-view></router-view>
        </div>
    </div>

</template>

<script>
    import LocaleChanger from '../../../lib/common/resources/js/components/LocaleChanger';
    import calculators from './../calculator-routes';

    export default {
        name: 'app',
        data() {
            return {
                loggedIn: this.isLoggedIn(),
                calculators: calculators
            };
        },
        created() {
            this.$bus.$on('auth', () => {
                this.loggedIn = this.isLoggedIn()
            })
        },
        methods: {
            logout() {
                localStorage.removeItem('token');
                delete this.$http.defaults.headers.common.Authorization;
                this.$bus.$emit('auth');
                this.loggedIn = false;
            },
            isLoggedIn() {
                const token = this.$http.defaults.headers.common.Authorization;
                return token !== 'undefined' && token !== undefined && token !== null && token !== 'null';
            }
        },
        components: {
            LocaleChanger
        }
    };

</script>

<style scoped>

</style>
