<template>
    <div class="example-calculator">
        <h1>Voorbeeld Rekentool</h1>
        <ul class="example-calculator-form">
            <li>
                <label for="base">Basisgetal</label>
                <input id='base' type="text" v-model="input.base"/>
                <validation v-if="errors.base !== undefined" :errors="errors.base"></validation>
            </li>
            <li>
                <label for="index">Index</label>
                <input id="index" type="text" v-model="input.index"/>
                <validation v-if="errors.index !== undefined" :errors="errors.index"></validation>
            </li>
            <li>
                <label for="years">Jaren</label>
                <input id="years" type="text" v-model="input.years"/>
                <validation v-if="errors.years !== undefined" :errors="errors.years"></validation>
            </li>
            <li>
                <button @click="calculate">Bereken</button>
            </li>
        </ul>
        <div v-if="result">
            &euro; <span v-html="response.base"></span> + (1 + <span v-html="response.index"></span>) ^ <span
                v-html="response.years"></span> = <span v-html="response.result"></span>
        </div>
    </div>
</template>

<script>
    import qs from 'query-string';
    import Validation from '../../../lib/common/resources/js/components/ValidationComponent';

    export default {
        name: "ExampleCalculator",
        data() {
            return {
                input: {
                    base: null,
                    index: null,
                    years: null,
                },
                response: {
                    base: null,
                    index: null,
                    years: null,
                    result: null,
                },
                result: false,
                error: false,
                errors: {},
            }
        },
        methods: {
            calculate() {
                this.result = false;
                this.errors = {};
                this.$http.post(
                    '/calculators/example_calculator',
                    qs.stringify(this.input),
                    {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }
                )
                    .then((response) => {
                        this.result = true;
                        this.response = response.data.data;
                    })
                    .catch(({response}) => {
                        this.errors = response.data.data;
                    })
            }
        },
        components: {
            Validation
        }
    }
</script>

<style scoped>

</style>
