<template>
    <div class="venb">
        <h2>version 2018</h2>
        <fieldset id="algemeen">
            <legend>Algemeen</legend>
            <div>
                <form >
                    <label for="isAanspraakVerminderdTarief" >verminderd tarief</label>
                    <p class="code-description">1751</p>
                    <input id="isAanspraakVerminderdTarief" type="radio" name="tarief" value="true" v-model="input.isAanspraakVerminderdTarief"><br>
                    <label for="isNietAanspraakVerminderdTarief" >Gewoon tarief</label>
                    <p class="code-description"></p>
                    <input id="isNietAanspraakVerminderdTarief" type="radio" name="tarief" value="false" v-model="input.isAanspraakVerminderdTarief"><br>
                    <label for="isVenootshapHuisvesting">De vennootschap is een vennootschap voor huisvesting, belastbaar tegen
                        het tarief van 5 %</label>
                    <p class="code-description">1753</p>
                    <input id="isVenootshapHuisvesting" type="radio" name="tarief" value="true" v-model="input.isVenootshapHuisvesting">
                </form>
            </div>

        </fieldset>
        <fieldset id="gewoneAanslagen">
            <legend>Gewone aanlagen</legend>

            <div :class="errors.belastbaarGewoonTarief ? 'venb-input-error' : ''">
                <label for="belastbaarGewoonTarief">Belastbaar tegen gewoon tarief:</label>
                <p class="code-description">1460</p>
                <input id="belastbaarGewoonTarief" type="text" name="belastbaarGewoonTarief" v-model="input.belastbaarGewoonTarief">
            </div>
            <validation :errors="errors.belastbaarGewoonTarief"></validation>

            <div :class="errors.meerwaardeOpAandelen25 ? 'venb-input-error' : ''">
                <label for="meerwaardeOpAandelen25">Meerwaarden op aandelen belastbaar tegen 25%</label>
                <p class="code-description">1465</p>
                <input id="meerwaardeOpAandelen25" type="text" name="meerwaardeOpAandelen25" v-model="input.meerwaardeOpAandelen25">
            </div>
            <validation :errors="errors.meerwaardeOpAandelen25"></validation>

            <div :class="errors.belastbareTegenExitTaks165 ? 'venb-input-error' : ''">
                <label for="belastbareTegenExitTaks165">Belastbaar tegen exit taks, vóór 01.01.2018 gedane verrichtingen
                    tegen 16,5%</label>
                <p class="code-description">1471</p>
                <input id="belastbareTegenExitTaks165" type="text" name="belastbareTegenExitTaks165" v-model="input.belastbareTegenExitTaks165">
            </div>
            <validation :errors="errors.belastbareTegenExitTaks165"></validation>

            <div :class="errors.belastbareTegenExitTaks125 ? 'venb-input-error' : ''">
                <label for="belastbareTegenExitTaks125">Belastbaar tegen exit taks, vóór 01.01.2018 gedane verrichtingen
                    tegen 12,5%</label>
                <p class="code-description">1472</p>
                <input id="belastbareTegenExitTaks125" type="text" name="belastbareTegenExitTaks125" v-model="input.belastbareTegenExitTaks125">
            </div>
            <validation :errors="errors.belastbareTegenExitTaks125"></validation>

            <div :class="errors.meerwaardeOpAAndelenBelastbaartegen04 ? 'venb-input-error' : ''">
                <label for="meerwaardeOpAAndelenBelastbaartegen04">Meerwaarden op aandelen belastbaar tegen 0,4%</label>
                <p class="code-description">1424</p>
                <input id="meerwaardeOpAAndelenBelastbaartegen04" type="text" name="meerwaardeOpAAndelenBelastbaartegen04"
                       v-model="input.meerwaardeOpAAndelenBelastbaartegen04">
            </div>
            <validation :errors="errors.meerwaardeOpAAndelenBelastbaartegen04"></validation>

            <div :class="errors.kapitaalenInterestsubsidiesLandboouw05 ? 'venb-input-error' : ''">
                <label for="kapitaalenInterestsubsidiesLandboouw05">Kapitaal- en interestsubsidies in het kader van de steun
                    aan de landbouw, belastbaar tegen 5%</label>
                <p class="code-description">1481</p>
                <input id="kapitaalenInterestsubsidiesLandboouw05" type="text" name="kapitaalenInterestsubsidiesLandboouw05"
                       v-model="input.kapitaalenInterestsubsidiesLandboouw05">
            </div>
            <validation :errors="errors.kapitaalenInterestsubsidiesLandboouw05"></validation>
        </fieldset>

        <fieldset id="afzonderlijkeAanslagen">
            <legend>Afzonderlijke aanslagen</legend>

            <div :class="errors.afzonderlijkeAanslagAlleAard50 ? 'venb-input-error' : ''">
                <label for="afzonderlijkeAanslagAlleAard50">Afzonderlijke aanslag van de niet-verantwoorde kosten of
                    voordelen van alle aard, de verdoken meerwinsten en de financiële voordelen of voordelen van alle aard
                    tegen 50%</label>
                <p class="code-description">1506</p>
                <input id="afzonderlijkeAanslagAlleAard50" type="text" name="afzonderlijkeAanslagAlleAard50" v-model="input.afzonderlijkeAanslagAlleAard50">
            </div>
            <validation :errors="errors.afzonderlijkeAanslagAlleAard50"></validation>

            <div :class="errors.afzonderlijkeAanslagAlleAard100 ? 'venb-input-error' : ''">
                <label for="afzonderlijkeAanslagAlleAard100">Afzonderlijke aanslag van de niet-verantwoorde kosten of
                    voordelen van alle aard, de verdoken meerwinsten en de financiële voordelen of voordelen van alle aard
                    tegen 100%</label>
                <p class="code-description">1507</p>
                <input id="afzonderlijkeAanslagAlleAard100" type="text" name="afzonderlijkeAanslagAlleAard100" v-model="input.afzonderlijkeAanslagAlleAard100">
            </div>
            <validation :errors="errors.afzonderlijkeAanslagAlleAard100"></validation>

            <div :class="errors.afzonderlijkeAanslagBelasteReservesKredietInstellingen34 ? 'venb-input-error' : ''">
                <label for="afzonderlijkeAanslagBelasteReservesKredietInstellingen34">Afzonderlijke aanslag van de belaste
                    reserves ten name van erkende kredietinstellingen, tegen het tarief van 34%</label>
                <p class="code-description">1502a</p>
                <input id="afzonderlijkeAanslagBelasteReservesKredietInstellingen34" type="text" name="afzonderlijkeAanslagBelasteReservesKredietInstellingen34"
                       v-model="input.afzonderlijkeAanslagBelasteReservesKredietInstellingen34">
            </div>
            <validation :errors="errors.afzonderlijkeAanslagBelasteReservesKredietInstellingen34"></validation>

            <div :class="errors.afzonderlijkeAanslagBelasteReservesKredietInstellingen28 ? 'venb-input-error' : ''">
                <label for="afzonderlijkeAanslagBelasteReservesKredietInstellingen28">Afzonderlijke aanslag van de belaste
                    reserves ten name van erkende kredietinstellingen, tegen het tarief van 28%</label>
                <p class="code-description">1502b</p>
                <input id="afzonderlijkeAanslagBelasteReservesKredietInstellingen28" type="text" name="afzonderlijkeAanslagBelasteReservesKredietInstellingen28"
                       v-model="input.afzonderlijkeAanslagBelasteReservesKredietInstellingen28">
            </div>
            <validation :errors="errors.afzonderlijkeAanslagBelasteReservesKredietInstellingen28"></validation>

            <div :class="errors.afzonderlijkeAanslagUitgekeerdeDividenden ? 'venb-input-error' : ''">
                <label for="afzonderlijkeAanslagUitgekeerdeDividenden">Afzonderlijke aanslag van de uitgekeerde dividenden
                    ten name van vennootschappen die krediet voor ambachtsoutillage mogen verstrekken en vennootschappen
                    voor huisvesting tegen 28%</label>
                <p class="code-description">1503</p>
                <input id="afzonderlijkeAanslagUitgekeerdeDividenden" type="text" name="afzonderlijkeAanslagUitgekeerdeDividenden"
                       v-model="input.afzonderlijkeAanslagUitgekeerdeDividenden">
            </div>
            <validation :errors="errors.afzonderlijkeAanslagUitgekeerdeDividenden"></validation>

            <div :class="errors.fairnessTax ? 'venb-input-error' : ''">
                <label for="fairnessTax">Fairness Tax tegen 5% </label>
                <p class="code-description">1504</p>
                <input id="fairnessTax" type="text" name="fairnessTax" v-model="input.fairnessTax">
            </div>
            <validation :errors="errors.fairnessTax"></validation>

            <div :class="errors.afzonderlijkeAanslagBoekhoudingNaWinst ? 'venb-input-error' : ''">
                <label for="afzonderlijkeAanslagBoekhoudingNaWinst">Afzonderlijke aanslag van het gedeelte van de
                    boekhoudkundige winst na belastingen dat is overgeboekt naar de liquidatiereserve tegen 10%</label>
                <p class="code-description">1508</p>
                <input id="afzonderlijkeAanslagBoekhoudingNaWinst" type="text" name="afzonderlijkeAanslagBoekhoudingNaWinst"
                       v-model="input.afzonderlijkeAanslagBoekhoudingNaWinst">
            </div>
            <validation :errors="errors.afzonderlijkeAanslagBoekhoudingNaWinst"></validation>


        </fieldset>
        <fieldset id="bijzondereAanslagen">
            <legend>Bijzondere aanslagen</legend>
            <div :class="errors.geheleOfGedeeltelijkMaatschappelijkVermogen33 ? 'venb-input-error' : ''">
                <label for="geheleOfGedeeltelijkMaatschappelijkVermogen33">Gehele of gedeeltelijke verdeling van het
                    maatschappelijk vermogen, belastbaar tegen 33%</label>
                <p class="code-description">1511</p>
                <input id="geheleOfGedeeltelijkMaatschappelijkVermogen33" type="text" name="geheleOfGedeeltelijkMaatschappelijkVermogen33"
                       v-model="input.geheleOfGedeeltelijkMaatschappelijkVermogen33">
            </div>
            <validation :errors="errors.geheleOfGedeeltelijkMaatschappelijkVermogen33"></validation>

            <div :class="errors.geheleOfGedeeltelijkMaatschappelijkVermogen165 ? 'venb-input-error' : ''">
                <label for="geheleOfGedeeltelijkMaatschappelijkVermogen165">Gehele of gedeeltelijke verdeling van het
                    maatschappelijk vermogen, belastbaar tegen 16,5%</label>
                <p class="code-description">1512</p>
                <input id="geheleOfGedeeltelijkMaatschappelijkVermogen165" type="text" name="geheleOfGedeeltelijkMaatschappelijkVermogen165"
                       v-model="input.geheleOfGedeeltelijkMaatschappelijkVermogen165">
            </div>
            <validation :errors="errors.geheleOfGedeeltelijkMaatschappelijkVermogen165"></validation>

            <div :class="errors.voordeleAlleAardVerleend ? 'venb-input-error' : ''">
                <label for="voordeleAlleAardVerleend">Voordelen van alle aard verleend door vennootschappen in vereffening
                    tegen 33%</label>
                <p class="code-description">1513</p>
                <input id="voordeleAlleAardVerleend" type="text" name="voordeleAlleAardVerleend" v-model="input.voordeleAlleAardVerleend">
            </div>
            <validation :errors="errors.voordeleAlleAardVerleend"></validation>

        </fieldset>
        <fieldset id="bedragLatenteMeerwaarde">
        <legend> Bedrag Latente Meerwaarde</legend>
            <div :class="errors.bedragLatenteMeerwaardeNaProportioneleVerrekening ? 'venb-input-error' : ''">
                <label for="bedragLatenteMeerwaardeNaProportioneleVerrekening">Terugbetaling van een gedeelte van het
                    voorheen verleende belastingkrediet voor onderzoek en ontwikkeling tegen 100%</label>
                <p class="code-description">1532</p>
                <input id="bedragLatenteMeerwaardeNaProportioneleVerrekening" type="text" name="bedragLatenteMeerwaardeNaProportioneleVerrekening"
                       v-model="input.bedragLatenteMeerwaardeNaProportioneleVerrekening">
            </div>
            <validation :errors="errors.bedragLatenteMeerwaardeNaProportioneleVerrekening"></validation>

            <div :class="errors.latenteMeerwaarden ? 'venb-input-error' : ''">
                <label for="latenteMeerwaarden">Bedrag van de latente meerwaarden na proportionele verrekening van de
                    aftrekken van de resterende winst</label>
                <p class="code-description">1864</p>
                <input id="latenteMeerwaarden" type="text" name="latenteMeerwaarden" v-model="input.latenteMeerwaarden">
            </div>
            <validation :errors="errors.latenteMeerwaarden"></validation>

        </fieldset>
        <fieldset id="VerrekendeVoorheffing">
            <legend>Verrekenbare voorheffingen</legend>

            <div :class="errors.nietterugbetaalbareVoorheffing ? 'venb-input-error' : ''">
                <label for="nietterugbetaalbareVoorheffing">Niet-terugbetaalbare voorheffingen</label>
                <p class="code-description">1830</p>
                <input id="nietterugbetaalbareVoorheffing" type="text" name="nietterugbetaalbareVoorheffing" v-model="input.nietterugbetaalbareVoorheffing">
            </div>
            <validation :errors="errors.nietterugbetaalbareVoorheffing"></validation>

            <div :class="errors.buitenlandseBelastingkrediet ? 'venb-input-error' : ''">
                <label for="buitenlandseBelastingkrediet">Buitenlands belastingkrediet voorzien bij bepaalde overeenkomsten
                    ter vermijding van dubbele belasting</label>
                <p class="code-description">1834</p>
                <input id="buitenlandseBelastingkrediet" type="text" name="buitenlandseBelastingkrediet" v-model="input.buitenlandseBelastingkrediet">
            </div>
            <validation :errors="errors.buitenlandseBelastingkrediet"></validation>

            <div :class="errors.terugbetaalbareVoorheffing ? 'venb-input-error' : ''">
                <label for="terugbetaalbareVoorheffing">Terugbetaalbare voorheffingen</label>
                <p class="code-description">1840</p>
                <input id="terugbetaalbareVoorheffing" type="text" name="terugbetaalbareVoorheffing" v-model="input.terugbetaalbareVoorheffing">
            </div>
            <validation :errors="errors.terugbetaalbareVoorheffing"></validation>

            <div :class="errors.belastingkredietVoorOnderzoek ? 'venb-input-error' : ''">
                <label for="belastingkredietVoorOnderzoek">Belastingkrediet voor onderzoek en ontwikkeling dat voor het
                    huidig belastbare tijdperk terugbetaalbaar is</label>
                <p class="code-description">1850</p>
                <input id="belastingkredietVoorOnderzoek" type="text" name="belastingkredietVoorOnderzoek" v-model="input.belastingkredietVoorOnderzoek">
            </div>
            <validation :errors="errors.belastingkredietVoorOnderzoek"></validation>

        </fieldset>
        <fieldset id="voorafbetalingen">
            <legend>Voorafbetalingen</legend>

            <div>
                <label for="isStartendKMO">Deze aangifte heeft betrekking op één van de eerste drie boekjaren vanaf de
                    oprichting van de vennootschap die een "kleine vennootschap" is</label>
                <p class="code-description">1801</p>
                <input id="isStartendKMO" type="radio" value="true" v-model="input.isStartendKMO"> ja
                <input type="radio" value="false" v-model="input.isStartendKMO"> nee
            </div>

            <div>
                <label for="aantalkwartalen">Aantal kwartalen:</label>
                <p class="code-description">1001</p>
                <select id="aantalkwartalen" v-model="input.aantalkwartalen">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected="selected">4</option>
                </select>
            </div>

            <div :class="errors.voorafbetaling1 ? 'venb-input-error' : ''" v-if="input.aantalkwartalen > 3">
                <label for="voorafbetaling1">voorafbetaling1</label>
                <p class="code-description">1811</p>
                <input id="voorafbetaling1" type="text" name="voorafbetaling1" v-model="input.voorafbetalingKwart1">
            </div>
            <validation :errors="errors.voorafbetaling1"></validation>

            <div :class="errors.voorafbetaling2 ? 'venb-input-error' : ''"  v-if="input.aantalkwartalen > 2">
                <label for="voorafbetaling2">voorafbetaling2</label>
                <p class="code-description">1812</p>
                <input id="voorafbetaling2" type="text" name="voorafbetaling2" v-model="input.voorafbetalingKwart2">
            </div>
            <validation :errors="errors.voorafbetaling2"></validation>

            <div :class="errors.voorafbetaling3 ? 'venb-input-error' : ''"  v-if="input.aantalkwartalen > 1">
                <label for="voorafbetaling3">voorafbetaling3</label>
                <p class="code-description">1813</p>
                <input id="voorafbetaling3" type="text" name="voorafbetaling3" v-model="input.voorafbetalingKwart3">
            </div>
            <validation :errors="errors.voorafbetaling3"></validation>

            <div :class="errors.voorafbetaling4 ? 'venb-input-error' : ''">
                <label for="voorafbetaling4">voorafbetaling4</label>
                <p class="code-description">1814</p>
                <input id="voorafbetaling4" type="text" name="voorafbetaling4" v-model="input.voorafbetalingKwart4">
            </div>
            <validation :errors="errors.voorafbetaling4"></validation>
        </fieldset>

        <button @click="calculate">Bereken</button>
        <p>results :</p>

        <div class="resulst" v-if="result">
            <div class="gewoneAanslagen-header" v-if="gewoneAanslagen">
                <h3>  Gewone Aanslagen </h3>
            </div>
            <div class="gewoneAanslagen response" id="gewoneAanslagen response" v-for="(value,key) in gewoneAanslagen" v-if="value.belastingEnCrisisbijdrage !== '0,00'">
                <div class="answer-description" v-html="key">
                </div>
                <div class="answer-value">
                    <div class="belastbaarGewoonTarief" v-if="isArray(value.belastingEnCrisisbijdrage)">
                        <div class="belastingEnCrisisbijdrage" v-for="item in value.belastingEnCrisisbijdrage" v-html="item">
                        </div>
                    </div>
                    <div class="answer-value" v-else>
                        <div class="code" v-html="value.code"></div>
                        <div class="calculation" v-html="value.calculation"></div>
                        <div class="belastingEnCrisisbijdrage" v-html="value.belastingEnCrisisbijdrage"></div>
                    </div>
                </div>
            </div>
            <div>
                <h3>
                    Belastbaar gewoon stelsel
                </h3>
            </div>
            <div id="belastbaarGewoonStelsel response" v-for="(value,key) in belastbaarGewoonStelsel" v-if="value !== '0,00'">
                <div class="answer-description" v-html="key">
                </div>
                <div class="answer-value">
                    <div class="belastbaarGewoonStelstel value" v-html="value">
                    </div>
                </div>
            </div>
            <div>
                <h3>
                    Afzonderlijk belastbaar
                </h3>
            </div>
            <div id="afzonderlijkBelastbaar response" v-for="(value,key) in afzonderlijkBelastbaar" v-if="value.belastingEnCrisisbijdrage !== '0,00'">
                <div class="answer-description" v-html="key">
                </div>
                <div class="answer-value">
                    <div class="code" v-html="value.code"></div>
                    <div class="calculation" v-html="value.calculation"></div>
                    <div class="belastingEnCrisisbijdrage" v-html="value.belastingEnCrisisbijdrage"></div>
                    </div>
                </div>
            </div>

            <div id="totaalDoorUTeBetalen response" v-if="totaalDoorUTeBetalen">
                <div class="answer-description">
                    <h3>Totaal door u terug te krijgen/Te betalen</h3>
                </div>
                <div class="answer-value" v-html="totaalDoorUTeBetalen">
                </div>
            </div>

            <div class="berekeningVanDeVermeerdering-header" v-if="berekeningVanDeVermeerdering">
                <h3>  Berekening van de vermeerdering </h3>
            </div>
            <div id="berekeningVanDeVermeerdering response" v-for="(value,key) in berekeningVanDeVermeerdering" v-if="value !== '0,00'">
                <div class="answer-description" v-html="key">
                </div>
                <div v-if="key === 'Voorafbetalingen'" >
                    <div class="answer-value" v-for="(item,index) in value">
                        <div v-html="index"></div>
                        <div v-html="item"></div>
                    </div>
                </div>
                <div class="answer-value" v-else v-html="value"></div>
            </div>
        </div>
    </div>
</template>

<script>
    import qs from 'query-string';
    import Validation from '../../../lib/common/resources/js/components/ValidationComponent';
    import Input from '../../databags/Venb2018Databag';
    import VenbInputRow from './VenbInputRow'

    let input = {
        aantalkwartalen : 4,
        isAanspraakVerminderdTarief : false,
        isVenootshapHuisvesting : false};

    export default {
        name: "venb",
        data() {
            return {
                input: input,
                result: false,
                gewoneAanslagen : null,
                belastbaarGewoonStelsel : null,
                totaalDoorUTeBetalen : null,
                berekeningVanDeVermeerdering : null,
                afzonderlijkBelastbaar: null,
                error: false,
                errors: {},
            }
        },
        methods: {
            isArray(object){
                return Array.isArray(object)
            },
            calculate() {
                this.result = false;
                this.errors = {};
                this.input.version = "v2018aj";
                //this.caltarief();
                this.$http.post(
                    '/calculator/venb',
                    qs.stringify(this.input),
                    {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }
                )
                    .then((response) => {
                        console.log(response.data.data.belastbaarGewoonStelsel);
                        this.result = true;
                        this.gewoneAanslagen = response.data.data.gewoneAanslagen;
                        this.belastbaarGewoonStelsel = response.data.data.belastbaarGewoonStelsel;
                        this.totaalDoorUTeBetalen = response.data.data.totaalDoorUTeBetalen;
                        this.berekeningVanDeVermeerdering= response.data.data.berekeningVanDeVermeerdering;
                        this.afzonderlijkBelastbaar = response.data.data.afzonderlijkBelastbaar;
                    })
                    .catch(({response}) => {
                        this.errors = response.data.data;
                    })
            }
        },
        components: {
            Validation,
            VenbInputRow
        }
    }
</script>

<style scoped>

</style>
