<template>
    <tr class="venbInput-row">
        <td>
            <label :for="id" >{{text}}</label>
        </td>
        <td>
            <input id="id" @input="input">
        </td>
    </tr>
</template>

<script>
    export default {
        name: "venbInputRow",
        props: ['id', 'input',"text"]
    }
</script>

<style scoped>

</style>
