<template>
    <div class="venb">
        <h1>Venb Calculator </h1>
        <label for="version">Versie rekentool</label>
        <select id="version" v-model="version">
            <option :value="key" v-html="value.description" v-model="version" v-for="(value, key) in options" :title="value.title"></option>
        </select>
        <keep-alive>
            <component :is="version"></component>
        </keep-alive>
    </div>
</template>

<script>
    import Validation from '../../../lib/common/resources/js/components/ValidationComponent';
    import { versions, latestVersion } from './../venb-versions'

    export default {
        name: "venb",
        data() {
            return {
                version: latestVersion(),
                options: versions
            }
        },
        components: {
            Validation
        }
    }
</script>

<style scoped>

</style>
